#gaddon-setting-row-fieldMap .settings-field-map-table th,
#gaddon-setting-row-fieldMap .settings-field-map-table td {
    width: 50%;
}
#gaddon-setting-row-fieldMap .settings-field-map-table select {
    width: 100%;
    max-width: inherit;
}

.gfhubspot-alert {
    padding: 10px 25px;
    margin: 0;
    background-color: #E53935;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0 #D50000;
    border-radius: 3px;
    border-left: 4px solid #D50000;
}