#gaddon-setting-row-fieldMap .settings-field-map-table th,
#gaddon-setting-row-fieldMap .settings-field-map-table td {
    width: 50%;
}
#gaddon-setting-row-fieldMap .settings-field-map-table select {
    width: 100%;
    max-width: inherit;
}